body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}
h1{
    color: white;
    font-size: 50px;
    font-weight: 700;
}
h2{
    font-size: 40px;
}
.poster p{
    color: white;
}
.introduction{
    text-align: center;
}

.link-orientation{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,red);
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    
}
.poster{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    height: 200%;
    
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}
.statement{
    text-align: center;
}

.cash{
    display: flex;
    
}

.center{
    margin-left: 38%;
    left: 50%;
}
.shadow{
    border: 1px;
    border-style: solid;
    border-color: rgb(207, 203, 203);
    border-radius: 2px;
    margin: 5px 10px 5px 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    text-align: center;
}
#chose{
    color: tomato;
    border: 1px;
    border-style: solid;
    border-color: tomato;
    background-color: rgb(230, 194, 193);

}

    

.box{
    box-shadow: 10px 10px 10px grey;
}
.region{
    margin-top: 10px;
    margin-bottom: 20px;
}
.display{
    text-align: center;
}
.width{
    width: 33%;
}
.donar-item{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    box-shadow: 10px 10px 40px grey;
}   
#food{
    background-color: rgb(180, 201, 194);
} 
#shelter{
    background-color: rgb(194, 153, 194);
}
#education{
    background-color: rgb(124, 124, 100);
}
.width-range{
    width: 50%;
}
.width-range img{
    width: 60%;
}
.space{
    margin-left: 5%;
    margin-right: 5%;
}
#bar{
    margin-top: 10%;
}
.box{
            background-color: rgb(170, 170, 138); 
            font-size: 20px; 
            margin-left: 25%;
            margin-right: 25%;
            padding: 20px; 
            border: 1px solid lightgray; 
            margin: 80px;"
}
.bg{
    color: tomato;
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
}
    
